{% load static i18n dictionary %}

{# -------------------------------------------------------------------------- #}
{# Allowed tags:                                                              #}
{# access widget attrs like: field.field.widget.attrs.xyz                     #}
{# errors               --> usage: errors=field.errors                        #}
{# field_beside_label   --> usage: field_beside_label='1' (or any string)     #}
{#                      --> splits field like: |label field| with col-6 each  #}
{#                                             |help_text  |                  #}
{# beside_label_size    --> usage: only if field_beside_label active          #}
{#                          pass the size of label tag col-xyz                #}
{# beside_label_min_w   --> usage: only if field_beside_label active          #}
{#                                 beside_label_min_w='9em' of label col      #}
{# field_col_size       --> usage: field_col_size='col-3'                     #}
{# min_width            --> usage: min_width='9em'                            #}
{# unit                 --> usage: at form pass widget attrs 'unit': '%'      #}
{# collapse_help        --> usage: collapse_help='1'                          #}
{#                                 collapses the help text so that an 'expand #}
{#                                 help' button appears                       #}
{# -------------------------------------------------------------------------- #}

{# Example: #}
{# {% include '_form_field_simple.html' with field=form_field errors=form.errors %} #}
{# Slight customization: #}
{# {% include '_form_field_simple.html' with field=form_field errors=form.errors field_col_size='col-3' min_width='9em' %} #}
{# Example with field_beside_label: #}
{# {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-6' beside_label_min_w='15em' field_col_size='col-3' min_width='9em' %} #}


<div class="form-group justify-content-left">
    {% if field_beside_label %}
        <div class="row">
            <div class="form-label-style {% if beside_label_size %}{{ beside_label_size }}{% else %}col-6{% endif %}"
                 {% if beside_label_min_w %}style="min-width: {{ beside_label_min_w }};"{% endif %}>
                {{ field.label_tag }}
            </div>
            {% if field.field.widget.input_type == 'checkbox' %}

                {# ------------- #}
                {# Boolean field #}
                {# ------------- #}
                <div class="col">
                    <div class="form-check form-switch">
                        {{ field }}
                    </div>
                </div>
            {% else %}

                {# ------------ #}
                {# Other fields #}
                {# ------------ #}
                {% if field_col_size %}
{#                    <div class="row">#}
                        {% if min_width %}
                            <div class="{{ field_col_size }}" style="min-width: {{ min_width }};"> <!-- 9em fits 100% for example -->
                        {% else %}
                            <div class="{{ field_col_size }}"> <!-- 9em fits 100% for example -->
                        {% endif %}
                            <div class="input-group">
                                {{ field }}
                                {% if field.field.widget.attrs.unit %}
                                    <div class="input-group-append">
                                       <span class="input-group-text">{{ field.field.widget.attrs.unit }}</span>
                                   </div>
                                {% endif %}
                            </div>
                        </div>
{#                    </div>#}
                {% else %}
                    {% if field.field.widget.attrs.unit %}
                        <div class="input-group">
                            {{ field }}
                            <div class="input-group-append">
                               <span class="input-group-text">{{ field.field.widget.attrs.unit }}</span>
                           </div>
                        </div>
                    {% else %}
                        <div>
                            {{ field }}
                        </div>
                    {% endif %}
                {% endif %}

            {% endif %}

        </div>

    {% else %}
        <div class="form-label-style">
            {{ field.label_tag }}
        </div>

        {% if field.field.widget.input_type == 'checkbox' %}

            {# ------------- #}
            {# Boolean field #}
            {# ------------- #}
            <div class="form-check form-switch">
                {{ field }}
            </div>

        {% else %}

            {# ------------ #}
            {# Other fields #}
            {# ------------ #}
            {% if field_col_size %}
                <div class="row">
                    {% if min_width %}
                        <div class="{{ field_col_size }}" style="min-width: {{ min_width }};"> <!-- 9em fits '100' for example -->
                    {% else %}
                        <div class="{{ field_col_size }}">
                    {% endif %}
                        <div class="input-group">
                            {{ field }}
                            {% if field.field.widget.attrs.unit %}
                                <div class="input-group-append">
                                   <span class="input-group-text">{{ field.field.widget.attrs.unit }}</span>
                               </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                {% if field.field.widget.attrs.unit %}
                    <div class="input-group">
                        {{ field }}
                        <div class="input-group-append">
                           <span class="input-group-text">{{ field.field.widget.attrs.unit }}</span>
                       </div>
                    </div>
                {% else %}
                    <div>
                        {{ field }}
                    </div>
                {% endif %}
            {% endif %}

        {% endif %}
    {% endif %}
    {% if field.help_text %}
        {% if collapse_help == '1' %}
            <button class="btn btn-sm btn-primary-form"
                    style="width:100%; height: 2.5em; margin-top: 0.5em;"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-help-{{ field.name }}"
                    aria-expanded="{% if form.errors %}true{% else %}false{% endif %}"
                    aria-controls="collapse-help-{{ field.name }}">
                <small>Click to show/hide help</small>
            </button>
            <div class="collapse{% if form.errors %} show{% endif %}" id="collapse-help-{{ field.name }}">
                <div class="card card-body background-color-gray-light">
                    <small class="form-text text-muted form-help-color">{{ field.help_text|safe }}</small>
                </div>
            </div>
        {% else %}
            <small class="form-text text-muted form-help-color">{{ field.help_text|safe }}</small>
        {% endif %}

    {% endif %}

    {# ------ #}
    {# Errors #}
    {# ------ #}

    {% for key, value in errors.items %}
        {% if key == field.name %}
            {% for error in errors|get_item:key %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
