{% if messages %}
<ul class="messages" style="padding-left: 0 !important;">
    {% for message in messages %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            {% if 'background_warning' in message.extra_tags %}
                <div class="alert alert-custom-background p-0 {{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-custom-warning p-2 {{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-danger p-2 {{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-secondary p-2 {{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}