:root {
    --black: #000000;
    --danger-red: #9B0000;
    --danger-red-dark: #3d0000;
    --gray-light: #C5C6C7;
    --gray: #84868b;
    --gray-dark-1: #3e3e40;  /* Graph gradient 2 */
    --gray-dark-2: #2a2a2b;  /* Graph gradient 1 */
    --gray-dark-3: #080f19;  /* Background image color */
    --success-green: #556B2F;
    --success-green-dark: #9ACD32;
    --teal: #9dc1cf;
    --teal-dark: #5b7380;
    --white: #fff;
}