{% extends "aiseg/base.html" %}
{% load static i18n dictionary list modulo %}

{% block content_block %}

<form class="form-base-coloring" id="input_form" method="post" style="width: 100%">
    {% csrf_token %}
    <div class="centered-div">
        <p style="font-size: 125%; font-weight: 500;">Here you can create online augmentation examples.</p>
        {% for form_field in form %}
            {# -------- #}
            {# Sub rows #}
            {# -------- #}

            {% if form_field.name|is_in_string_list:'number_of_samples;' %}
                <div class="row em1">
            {% endif %}


            {# ------------- #}
            {# Fields #}
            {# ------------- #}

            <div class="col-sm">
                {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-2' beside_label_min_w='5em' field_col_size='col-3' min_width='11em' %}
            </div>

            {# --------------- #}
            {# Sub row closing #}
            {# --------------- #}

            {% if form_field.name|is_in_string_list:'random;' %}
                </div>
            {% endif %}

        {% endfor %}

        <div class='row justify-content-center em1'>
            {% if delete_active %}
                <div class="col">
                    <button id="js-run-kill-button" name="delete_all" class="btn btn-danger-form" style="width:100%;" type="submit">
                        Delete created examples
                    </button>
                </div>
            {% endif %}
            <div class="col mb-1">
                <button id="js-run-button" class="btn btn-success-form" style="width:100%;" type="submit" {% if process_is_running %} disabled {% endif %}>
                    Run
                </button>
            </div>
            <div class="col-1">
                {% if is_3d %}
                    <a role="button" class="btn btn-primary-form" href="{% url 'aiseg:online_volume_aug' %}" style="width: 100%;">
                        Back
                    </a>
                {% else %}
                    <a role="button" class="btn btn-primary-form" href="{% url 'aiseg:online_image_aug' %}" style="width: 100%;">
                        Back
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% if examples_2d %}
    <div class="background-color-gray-dark-2">
        <div class="centered-div text-color-gray-light">
            <p style="font-size: 125%; font-weight: 500;">Examples:</p>
            <small>
                Left to right: original image and mask | augmented image and mask patch<br>
                Size of patch = network input size. Augmented image and mask passed to the network
            </small>
            {% for example in examples_2d %}
                {% if forloop.counter0|modulo:2 == 0 or forloop.first %}
                    <div class="row em1">
                {% endif %}
                    <div class="col-3">
                        <div style="height: 300px;">
                            <img src="{{ example.image.url }}" alt="image" style="max-width: 100%; max-height: 300px;">
                        </div>
                        <div style="height: 300px;">
                            <img class="em1" src="{{ example.mask.url }}" alt="mask" style="max-width: 100%; max-height: 300px;">
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <img src="{{ example.out_image.url }}" alt="out_image" style="max-width: 100%; max-height: 300px;">
                        </div>
                        <div>
                            <img class="em1" src="{{ example.out_mask.url }}" alt="out_mask" style="max-width: 100%; max-height: 300px;">
                        </div>
                    </div>

                {% if forloop.counter0|modulo:2 != 0 or forloop.last %}
                    </div>
                    <hr class="hz-line-gray">
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endif %}

{% endblock content_block %}
