{% extends "aiseg/base.html" %}
{% load static i18n %}

{% block header %}
<!-- load highcharts and annotations -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/annotations.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock header %}

{% block content_block %}
<div class="form-base-coloring">
    <div class="row">
        <div class="{% if train_loss %}col-7{% else %}col-9{% endif %}">
            <div class="centered-div">
                {% if train_loss %}
                    <textarea rows="40" style="width: 100%; font-size: 0.8em;" id="log_data" disabled></textarea>
                {% else %}
                    <textarea rows="30" style="width: 100%;" id="log_data" disabled></textarea>
                {% endif %}
                <div class="row justify-content-center">
                    <button id="js-refresh-button" type="button" class="col btn btn-primary-form" onClick="window.location.reload();">Refresh</button>
                    <button id="js-kill-button" type="button" class="col btn btn-danger-form" {% if not process_is_active %}disabled{% endif %}>Kill process</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="centered-div">
                <p class="text-color-gray-3">
                    Log Type: <b>{{ log_type }}</b><br>
                    Started at: {{ process_start_datetime|date:"l, d.m.y., G:i:s" }}
                    {% if log_further_info %}
                        <br>{{ log_further_info }}
                    {% endif %}
                </p>
                {% if max_log_lines %}
                    <p class="text-color-gray-3">
                        Displaying last {{ max_log_lines }} lines during live logging<br>
                        <small class="text-color-gray-3" id="js-refresh-time" style="min-width: 100%;"></small><br>
                        <small>Adjust slider to increase refresh time.</small>
                    </p>
                {% else %}
                    <p class="text-color-gray-3" id="js-refresh-time" style="min-width: 100%;"></p>
                {% endif %}
{#                <p class="text-color-gray-3" id="js-refresh-time" style="min-width: 100%;"></p>#}

                <div class="justify-content-center">
                    <input type="range"
                           class="form-range"
                           id="js-refresh-range"
                           min="3"
                           max="61"
                           step="1"
                           {% if not process_is_active %}disabled{% endif %}>
                </div>

                <div>
                    {% if train_loss %}
                        <div id="js-accuracy-graph" style="width:100%; height:300px;"></div>
                    {% endif %}
                    {% if train_loss %}
                        <div class="em1" id="js-loss-graph" style="width:100%; height:300px;"></div>
                    {% endif %}
                    {% if train_loss %}
                        <p class="text-color-gray-3"><b>Zoom</b>: dragging out a rectangle in the chart&emsp;&emsp;<b>Enable a line</b>: click on legend</p>
                    {% endif %}
                </div>

                {% if running_logs %}
                <p class="text-color-gray-3">Other processes running:</p>
                    {% for log in running_logs %}
                        <div class="justify-content-left">
                            <a class="btn btn-primary-form "
                               role="button"
                               href="{% url 'aiseg:monitor' log.pk %}">
                                {{ log.process_start_datetime|date:"l, d.m.y., G:i:s" }}
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock content_block %}

{% block additional_scripts %}
    <p class="js-data-holder"
       data-log_text="{{ log_text }}"
       data-post_kill_url="{{ post_kill_url }}"
       data-train_loss="{{ train_loss }}"
       data-valid_loss="{{ valid_loss }}"
       data-train_acc="{{ train_acc }}"
       data-valid_acc="{{ valid_acc }}"
       data-train_data_active="True"
    ></p>
    <script src="{% static 'aiseg/js/monitor.js' %}"></script>
    <script src="{% static 'aiseg/js/model_analysis.js' %}"></script>
{% endblock additional_scripts %}
