{% extends "aiseg/base.html" %}
{% load static i18n dictionary list%}

{% block content_block %}

{# ----------------------------- #}
{# Modal Ram calculation request #}
{# ----------------------------- #}

<div class="modal hide fade in" id="waitModal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content background-color-gray-dark-3">
            <div class="modal-header">
                <h5 class="modal-title text-color-teal">Parameter request sent!</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>

            <div class="modal-body text-color-dark-teal">
                <p>
                    Calculation running! Check
                    <a class="nav-link-a" target="_blank" href="{% url 'aiseg:logs'%}">Logs</a>.
                    This will take some time.<br>
                </p>
                <p>
                    If you see this for the first time, please wait while the calculation is running. For best
                    experience do not close this tab.
                </p>
                <p>
                    Next time, the calculated values for the current settings are loaded from the database instant.
                </p>
            </div>
        </div>
    </div>
</div>

{# ----------- #}
{# End request #}
{# ----------- #}

{# ------------------------- #}
{# Modal info: ram predicted #}
{# ------------------------- #}

{% if predicted_ram is not None %}
    <div class="modal hide fade in" id="js-ram-calc-success-modal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content background-color-gray-dark-3">
                <div class="modal-header">
                    <h5 class="modal-title text-color-teal">Parameters calculated!</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p class="text-color-dark-teal">
                        Using your current parameters, the following values are calculated:<br>
                        Input Size: {{ input_size }} x {{ input_size }}<br>
                        {% if input_depth %} Input depth: {{ input_depth }}<br>{% endif %}
                        Batch Size: {{ batch_size }}<br>
                    </p>
                    <h6 class="text-color-teal">Approximated RAM usage during training: {{ predicted_ram }} {{ ram_unit }}</h6>
                    <small class="text-color-dark-teal">
                        Tip: This is saved to the database. You can manually edit the best values for your config
                        <a class="nav-link-a" href="{% url 'aiseg:configurations_overview'%}">here</a>
                    </small>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary-form" data-bs-dismiss="modal">Understand</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{# -------------- #}
{# End modal info #}
{# -------------- #}

<form class="form-base-coloring" id="input_form" method="post" style="width: 100%">
    {% csrf_token %}
    <div class="centered-div">
        <p style="font-size: 125%; font-weight: 500;">I need <a class="form-a " href="https://gitlab.com/fra-wa/aiseg#tutorial">Help</a></p>
        {% for form_field in form %}

            {# -------- #}
            {# Sub rows #}
            {# -------- #}

            {% if form_field.name|is_in_string_list:'dataset_choice;pretrained;channels;batch_size;device;learning_rate;lr_adjust_step_size;calculate_with_fixed_depth' %}
                <div class="row em1">
            {% endif %}

            {% if form_field.name == 'calculate_with_fixed_depth' %}
                <hr class="hz-line-gray">
                <p style="font-size: 125%; font-weight: 500;">Optional:</p>
                <div class="col-6">
                    <button id="js-optimal-para-request-button"
                            class="btn btn-primary-form"
                            style="width:100%;"
                            type="submit"
                            data-bs-toggle="modal"
                            data-bs-target="#waitModal">
                        {{ calc_button_text }}
                    </button>
                    <small class="form-text text-muted form-help-color">
                        <b class="text-color-warning">Close all other applications if you calculate for the first time!</b>
                        If you selected all parameters above, the optimal input and batch size for your system will be
                        calculated. Ensure, that the result fits to your data (input size <= minimum image size,
                        depth <= volume depth).
                        <br>
                        Calculate with a fixed depth if needed (set input depth).<br>
                        Set Max dataset input size to the smallest height or width of your dataset size! Otherwise,
                        images are resized.
                    </small>
                </div>
            {% endif %}

            {# ------------- #}
            {# Fields #}
            {# ------------- #}
            <div class="col-sm">
                {% if form_field.name|is_in_string_list:'dataset_choice;architecture;backbone;normalization' %}
                    {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-3' beside_label_min_w='11em' field_col_size='col' min_width='12em' %}
                {% elif form_field.name|is_in_string_list:'lr_scheduler;lr_warm_up_period;lr_adjust_step_size' %}
                    {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-3' beside_label_min_w='14em' field_col_size='col' min_width='9em' collapse_help='1' %}
                {% else %}
                    {% include '_form_field_simple.html' with field=form_field errors=form.errors field_beside_label='1' beside_label_size='col-3' beside_label_min_w='14em' field_col_size='col' min_width='9em' %}
                {% endif %}
            </div>

            {# --------------- #}
            {# Sub row closing #}
            {# --------------- #}

            {% if form_field.name|is_in_string_list:'normalization;reproduce;input_depth;save_every;optimizer_name;lr_scheduler;lr_decay_period;max_in_size;' %}
                {% if form_field.name == 'lr_scheduler' %}
                    <div class="col-2">
                        <h4>Example diagram for linear scheduler:</h4>
                    </div>
                    <div class="col-4">
                        <img style="width: 100%" src="{% static 'aiseg/images/lr_scheduling/lr_scheduling small.svg' %}" alt="LRScheduling">
                    </div>
                {% elif form_field.name == 'optimizer_name' %}
                    <div class="col-sm"></div>
                {% endif %}
                </div>
            {% endif %}

        {% endfor %}

        <div class='row justify-content-center em1'>
            <div class="col mb-1">
                <button id="js-run-button" class="btn btn-success-form" style="width:100%;" type="submit" {% if process_is_running %} disabled {% endif %}>
                    Run
                </button>
            </div>

            {% if process_is_running %}
                <div class="col">
                    <button id="js-run-kill-button" class="btn btn-danger-form" style="width:100%;" type="submit">
                        I read the warning. Run
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</form>

{% endblock content_block %}

{% block additional_scripts %}
    <p class="js-data-holder"
       data-backbone_dict="{{ backbone_choices_dict }}"
       data-predicted_ram="{{ predicted_ram }}"
       data-calc_button_text="{{ calc_button_text }}"
       data-calc_button_blocked_text="{{ calc_button_blocked_text }}"
       data-blocked_devices="{{ blocked_devices|safe }}">
    </p>
    <script src="{% static 'aiseg/js/training.js' %}"></script>
    <script src="{% static 'aiseg/js/enable_disable_multi_gpu_field.js' %}"></script>
{% endblock additional_scripts %}